@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");

:root {
	--main-black-color: #1a1a1a; /* Dark charcoal gray */
	--main-white-color: #f0f0f0; /* Light gray */
	font-family: "IBM Plex Sans", sans-serif;
}

body {
	margin: 0;
}

.gridContainer {
	height: 100vh;
	display: grid;
	grid-template-rows: 100px 1fr 100px;
}

.gridContainer > * {
	padding: 20px;
}

.header {
	grid-row: 1;
	background-color: var(--main-white-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

button {
	height: 50px;
	width: 150px;
	color: white;
	background: linear-gradient(
		90deg,
		#3498db 0%,
		#e74c3c 100%
	); /* Cool blue to red gradient */
	border: none;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: background 0.3s transform 0.2s;
	font-size: 1rem;
}

button:hover {
	background: linear-gradient(
		90deg,
		#e74c3c 0%,
		#3498db 100%
	); /* Red to cool blue gradient */
	transform: scale(1.05);
}

#book {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 15px;
}

.title {
	font-weight: 900;
}

.card {
	background-color: var(--main-white-color);
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: space-around;
	border: solid var(--main-black-color) 2px;
	box-shadow: -3px -3px var(--main-black-color);
	align-items: center;
}

footer {
	text-align: center;
}

p {
	font-size: 20px;
}

img {
	height: 25px;
	width: 25px;
	cursor: pointer;
}

.inputForm {
	display: flex;
	flex-direction: column;
	gap: 5px;
	align-items: center;
}

.deleteThis {
	align-self: flex-end;
}

.statusDiv {
	display: flex;
	align-items: center;
	gap: 10px;
}

.close-form {
	width: 15px;
	height: 15px;
	margin-left: 300px;
}
